#start_screen img{
  /* display:; */
  width:80vw;
  max-width:800px;
  height:auto;
  transition:0.2s;
}

#gameover_screen img{
  /* display:; */
  width:80vw;
  max-width:800px;
  height:auto;
  transition:0.2s;
}


#gameover_screen img{
  /* display:; */
  width:80vw;
  max-width:800px;
  height:auto;
  transition:0.2s;
}


.top {
  background-color: rgb(47, 181, 201);
  overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .top h3 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2px 20px;
  text-decoration: none;
  font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .top h3:hover {
  cursor: pointer;
  background-color: rgb(109, 200, 221);
  color: rgb(14, 14, 15);
  }
  
  /* Add a color to the active/current link */
  .top h3.active {
  background-color: #b1b2bd;
  color: white;
  }

  /* .buttons:hover {
    cursor: pointer;
    background-color: rgb(109, 200, 221);
    color: rgb(14, 14, 15);
    } */


  #body {
    background-image: url('https://media.istockphoto.com/vectors/abstract-blue-wave-background-vector-id1223914421?k=20&m=1223914421&s=612x612&w=0&h=pdDbLnTMYY-sC4_GfpWePXo3ePEGPENQSeBoPh0E1xc=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  #settingsAndGame {
    margin-left: auto;
    margin-right: auto;
  }

  #ingame_buttons {
    margin-left: auto;
    margin-right: auto;
  }


.screens {
text-align:center;
cursor:pointer;
}

#canvas {
  border: 1px solid rgb(10, 10, 10);
}   

#game{
  text-align: center;
}

#footer {
  position: relative;
  bottom: 3%;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
  /* background: grey; */
}

.top {
  background-color: rgb(47, 181, 201);
  overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .top a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2px 20px;
  text-decoration: none;
  font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .top a:hover {
  cursor: pointer;
  background-color: rgb(109, 200, 221);
  color: rgb(14, 14, 15);
  }
  
  /* Add a color to the active/current link */
  .top a.active {
  background-color: #b1b2bd;
  color: white;
  }


  .button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 20px;
    border-style: 1px solid rgb(19, 184, 187);
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 38px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
  
  .button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }


  .input{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(19, 184, 187);
    outline:0;
    height:22px;
    width: 180px;
    }


    .error 
    {
      font-size: 12;
      color: red;
      align-items: center;

    }
 
  